.header {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
}
.header-bg{
    background-color: #ffffff;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.header .nav-menu a {
    color: #ffffff;
}

.header .navbar img {
    width: 250px;
    height: auto;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
}

.header .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.hamburger {
    display: none;
}


@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        background-color: rgba(0,0,0,.9);
    }

    .header .navbar {
        max-width: 100%;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: rgba(0,0,0,.9);
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .header .navbar img {
        width: 150px;
    }
}
.bannerOne{
    height: 100vh;
    width: 100vw;
    background-image: url('../Asset/1.jpg');
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bannerTwo{
    height: 100vh;
    width: 100vw;
    background-image: url('../Asset/2.jpg');
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bannerThree{
    height: 100vh;
    width: 100vw;
    background-image: url('../Asset/3.jpg');
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbars{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--navbar-padding, 0.5rem);
    min-height: 4rem/* 64px */;
    width: 100%; 
    padding: 20px 0;
}
.play-button{
    color: #ff7607;
    font-size: 50px;
    position: absolute;
    margin: auto;
    right: 1000px;
}
.play-button::before,.play-button::after{
    content: '';
    position: absolute;
    border: 2px solid #ff7607;
    border-radius: 50%;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}
.play-button::after{
    animation-delay: 0.5;
}
@keyframes animate{
    0%
    {
        transform: scale(.5);
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.5);
    }
}